<a href="/">Back to Home</a>
<form action="/new" method="POST">
    <h1>Create New Messageboard</h1>
    <div class="input-group">
        <label for="user">Name: </label> <br>
        <input name="user" type="text" id="user" placeholder="John Doe">
    </div>
    <br>
    <div class="input-group">
        <label for="message">Message: </label> <br>
        <textarea cols="20" rows="10" name="text" id="message" placeholder="Put your message in here ..."></textarea>
    </div>
    <br>
    <button type="submit">Send Message</button>
</form>